.cbp-af-header {
    top: 0;
    left: 0;
    width: 100%;
    background: #f6f6f6;
    z-index: 10000;
    height: 40px;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    transition: height 0.5s;
}
.cbp-af-header li{
    color: #fff;
}


 
 
.cbp-af-header ul {
    display: inline-block;
    position: relative;
}
 
.cbp-af-header.cbp-af-header-shrink {
    height: 30px;
    position:fixed;
}
 
 

 
/* Example Media Queries */
@media screen and (max-width: 55em) {
     
    .cbp-af-header .cbp-af-inner {
        width: 100%;
    }
 
}
 
